<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is site created By Abdelella . It uses data from Mapbox.com and Darksky.net!</p>
        <img class="portrait" src='/img/meblackandwhit.jpg'>
    </div>

    {{>footer}}
</body>



</html>